.container 
  %h3
    = @user.username
  = form_for @user do |f|
    .profile-icon-container
      .profile_icon
        - if @user.avatar.attached?
          = image_tag @user.avatar, id: 'profile-image', class: 'profile-icon'
        - else
          = image_tag 'default-avatar.png', id: 'profile-image', class: 'profile-icon'

      = f.file_field :avatar, direct_upload: true, id: 'avatar_field'

      = f.submit '保存', class: 'submit_btn'
  .profile_content
    .profile_detail
      %div
        %span 44
        %p Posts
      %div
        %span 110
        %p Followers
      %div
        %span 44
        %p Follow
