.user_background 
  = image_tag 'Rectangle.png', class: 'back-image'
  .container 
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .field
        = f.label :email
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email", class: 'text'
      .field
        = f.label :password
        %br/
        = f.password_field :password, autocomplete: "current-password", class: 'text'
        .field 
          = link_to new_user_password_path do
            = f.label :'forgot password?', class: 'link-btn'
        .field 
          = link_to new_user_registration_path do
            = f.label :'sign up', class: 'link-btn'
      .actions
        = f.submit "LOGIN", class: 'btn-primary'

